@{
    Layout = null;
}

<!-- Nuevo cuadro horizontal: Ventana Registrar colapsable  --> 
	  <!-- :::::::::::::::::::: :::::::::::::::::::::::::::::::::::::::::::: ventana_registrar colapsable -->
      <div id="V-registrar"> 
        <div class="well"   style="background-color:#5cb85c; border-color:#eee">
	      <!-- Grupo de botones necesario -->
		  <div class="btn-group btn-group-justified" data-toggle="buttons">				
            <label class="btn btn-success" style="border-color:#5cb85c"
		     data-toggle="collapse"
             data-target="#V-registrar_GV-formularios_V-entrega" 
		     aria-expanded="false"
    		 aria-controls="V-registrar_GV-formularios_V-entrega"
             data-parent="#V-registrar_GV-formularios"
		    >
            <input type="radio" name="Enviados" id="V-registrar_RB-entrega" autocomplete="off"> 
			  <span class="glyphicon glyphicon-circle-arrow-down"></span>
			  <br/>
              <strong> Entrega </strong>
            </label>
			<label class="btn btn-success" style="border-color:#5cb85c"
			 data-toggle="collapse"
		     data-target="#V-registrar_GV-formularios_V-solicitud" 
		     aria-expanded="false" 
		     aria-controls="V-registrar_GV-formularios_V-solicitud"
		     data-parent="#V-registrar_GV-formularios"
		    >
			<input type="radio" name="Recibidos" id="V-registrar_RB-solicitud" autocomplete="off"> 
		      <span class="glyphicon glyphicon-file"></span>
			  <br/>
			  <strong> Solicitud </strong>
		    </label>
          </div> <!-- Fin Grupo de botones necesario ::::::::::::::::::::::::-->
		  <!-- Grupo de paneles: Grupo de ventanas Formularios  -->
          <div class="panel-group" id="V-registrar_GV-formularios" role="tablist" aria-multiselectable="true" style="color:white">
		    <!-- Panel o grupo de botones necesario para evitar abrir + de 1 ventana -->
            <div class="panel panel-default" style="background-color:#5cb85c; border-color:#5cb85c">
			  <br/>
              <div class="collapse" id="V-registrar_GV-formularios_V-entrega">   <!-- Ventana colapsable de formulario 1: Entrega de consumibles -->
			    <!-- Separador 1 -->
		        <ul class="nav nav-tabs" style="border-color:white"> </ul>
                <!-- .................................................... ¬  Form 1 - Entrega -->
                @using (Html.BeginForm("RegistrarConsumible", "Consumibles", FormMethod.Post, new { @class = "form-horizontal", id = "FORM-entrega" }))
                {	
                  <!-- Icono de encabezado -->
				  <div class="form-group">
				    <h1 class="col-sm-3 control-label"><span class="glyphicon glyphicon-circle-arrow-down" ></span></h1>					
					<h3 class="col-sm-9 control-label"><strong> Registrar entrega de consumibles </strong></h3>
				  </div>
                  <div class="form-group">
                    <label for="FORM-entrega_TB-cantidadRecibida" class="col-sm-3 control-label">Número de piezas recibidas</label>
                    <div class="col-sm-2   has-success">
                      <input type="number" name="cantidad" class="form-control" id="FORM-entrega_TB-cantidadRecibida" required >
                    </div>
                  </div> <!--  -->
				  <br/>
				  <div class="form-group">
                    <label for="FORM-entrega_LB-tipo" class="col-sm-3 control-label">de</label>					    
				    <div class="btn-group col-sm-5 has-success" id="contenedorListaTipos"  data-toggle="buttons">
					  <select class="form-control" id="FORM-entrega_LB-tipo" name="tipo" style="border-color:white" required>
					    <option value="0" style="color:white">Seleccionar:</option>
					    <!--<option style="color:black"
						 data-toggle="collapse"
                         data-target="#FORM-entrega_V-agregarTipo" 
		                 aria-expanded="false"
    		             aria-controls="FORM-entrega_V-agregarTipo"
						> + Agregar</option>-->
                        @foreach (var tipo in ViewBag.TiposConsumibles)
                           {
                               <option value="@tipo.Id_tipo_consumible">@tipo.Nombre </option>
                           }  					    
					  </select>
					</div>		
                      <button type="button" class="btn btn-success col-sm-3" style="border-color:white" data-target="#form-tipo" data-toggle="modal">
					      <span class="glyphicon glyphicon-plus"></span> Agregar nuevo tipo
                        </button>			
                  </div> <!--  -->				  
				  <!-- Ventana colapsable para Tipo otro -->
				  <div class="collapse" id="FORM-entrega_V-agregarTipo">					  
				    <div class="form-group">
					  <label for="FORM-entrega_V-agregarTipo_TB-agregarTipo" class="col-sm-3 control-label">  </label>
                      <div class="col-sm-9   has-success">					  
                        <input type="text" class="form-control" id="FORM-entrega_V-agregarTipo_TB-agregarTipo" placeholder="">
                      </div>
					</div>
				  </div> <!-- Colapsable -->
				  <br/>
				  <!-- Boton: Agregar detalles. Los botones no tienen ID -->
				  <div class="form-group">
	  	 		    <div class="btn-group col-sm-offset-3 col-sm-4"   data-toggle="buttons">
					  <button class="btn btn-success btn-block" type="button" style="border-color:white"
	                   data-toggle="collapse" 
	                   data-target="#FORM-entrega_V-detalles" 
	                   aria-expanded="false" 
	                   aria-controls="FORM-entrega_V-detalles"
	                  > Agregar detalles <span class="caret"></span>
                      </button>
					</div>
				  </div>
				  <!-- DETALLES -->
				  <div class="collapse" id="FORM-entrega_V-detalles">  <!-- :::::: :::::: Ventana colapsable: Detalles -->
				    <br/>
					<div class="form-group">
                      <label for="FORM-entrega_V-detalles_TB-clave" class="col-sm-3 control-label">Clave</label>
                      <div class="col-sm-5   has-success">
                        <input type="text" name="clave" class="form-control" id="FORM-entrega_V-detalles_TB-clave" placeholder="">
                      </div>
                    </div> <!--  -->
				    <br/>
				    <div class="form-group">
                      <label for="FORM-entrega_V-detalles_RB-fechaRecien" class="col-sm-3 control-label">Fecha y hora de recepción</label>
				      <div class="btn-group-vertical col-sm-5"   data-toggle="buttons">
                        <label class="btn btn-success">
                          <input type="radio" name="recibido" id="FORM-entrega_V-detalles_RB-fechaRecien" value="1" >
						    <span class="glyphicon glyphicon-flash"></span>Lo acabo de recibir
                        </label>
					    <label class="btn btn-success">
                          <input type="radio" name="recibido" id="FORM-entrega_V-detalles_RB-fechaDespues" value="0">
						    <span class="glyphicon glyphicon-remove" ></span>Indicar despues...
                        </label>
					    <label class="btn btn-success"
					     data-toggle="collapse"
                         data-target="#FORM-entrega_V-detalles_V-fechaEspecifica" 
		                 aria-expanded="false"
    		             aria-controls="FORM-entrega_V-detalles_V-fechaEspecifica"		  
					    >
                          <input type="radio" name="recibido" id="FORM-entrega_V-detalles_RB-fechaEspecifica" value="2" checked>
						    <span class="glyphicon glyphicon-ok" ></span>Especificar fecha y hora<span class="caret" ></span>
                        </label>
					  </div>
			        </div> <!--  -->
			        <!-- Ventana colapsable para Fecha y hora -->
                    <div class="collapse" id="FORM-entrega_V-detalles_V-fechaEspecifica">                                              
                      <div class="form-group">
                        <label for="FORM-solicitud_V-detalles_V-fechaEspecifica_TB-dia" class="col-sm-3 control-label"> Fecha </label>
                          <div class="col-sm-5   has-success">					  
                          @Html.TextBox("fechaRecepcion", @DateTime.Now.Year+"-"+DateTime.Now.Month.ToString().PadLeft(2,'0')+"-"+DateTime.Now.Day.ToString().PadLeft(2,'0'), new { type = "date", @class = "form-control" })                          
                        </div>
					  </div>
				      
					  <div class="form-group">
					    <label for="FORM-solicitud_V-detalles_V-fechaEspecifica_TB-hora" class="col-sm-3 control-label"> Hora </label>
                        <div class="col-sm-3   has-success">					  
					      <div class="input-group">
					        <div class="input-group-addon">
					          <span class="glyphicon glyphicon-time"></span>
					        </div>
                              @Html.TextBox("horaRecepcion", DateTime.Now.Hour.ToString().PadLeft(2, '0') + ":" + DateTime.Now.Minute.ToString().PadLeft(2, '0'),
                                     new {@class="form-control", type="time", id="FORM-solicitud_V-detalles_V-fechaEspecifica_TB-hora" })                            
                          </div>
                        </div>
					  </div>
				    </div> <!-- Colapsable -->
					<br/>
				  	<div class="form-group">
                      <label for="FORM-entrega_V-detalles_TB-quienEntrega" class="col-sm-3 control-label">Entregado por</label>
                      <div class="col-sm-6   has-success">
                        <input name="entregado" type="text" class="form-control" id="FORM-entrega_V-detalles_TB-quienEntrega" placeholder="">
                      </div>
                    </div> <!--  -->
				    <br/>
				  	<div class="form-group">
                      <label for="FORM-entrega_V-detalles_TB-quienRecibe" class="col-sm-3 control-label">Recibido por</label>
                      <div class="col-sm-6   has-success">
                          <label id="FORM-entrega_V-detalles_TB-quienRecibe" class=" control-label" >@ViewBag.NombreUsuario</label>
                        
                      </div>
                    </div> <!--  -->
				    <br/>
				    <br/>
				    <!-- Boton: Examinar -->
				    <div class="form-group">
                      <label class="col-sm-3 control-label"> <!-- "control-label" ajusta el texto a la derecha -->
					    Adjuntar foto del producto
					  </label>
					  <div class="col-sm-9">   <!-- El estilo "Success" No funciona, el diseño es predeterminado -->
					    <h3><span class="glyphicon glyphicon-paperclip" ></span></h3>
                        <input name="archivo" type="file" id="FORM-entrega_V-detalles_BTN-adjunto">
					  </div>
				    </div>
				  </div>  <!-- :::::: :::::: Fin Colapsable: Detalles -->
				  <br/>
				  <!-- Boton: Listo! -->
                  <div class="form-group   has-success">
                    <div class="col-sm-offset-3 col-sm-4">
                      <button type="submit" data-ajax="true" class="btn  btn-success  btn-lg  btn-block" style="border-color:white">
					    <span class="glyphicon glyphicon-ok"></span>
						<strong> Listo! </strong>
					  </button>
                    </div>
                    <div class=" col-sm-4">
                      <button type="reset" class="btn  btn-success  btn-lg  btn-block" style="border-color:white">
					    <span class="glyphicon glyphicon-remove"></span>
						<strong> Limpiar </strong>
					  </button>
                    </div>
                  </div> <!--  -->
				
                } <!-- ................................................................................................... ^  Form 1 -->
  
              </div> 
                <!-- Fin de Ventana de Formulario 1 -->
              <div class="collapse" id="V-registrar_GV-formularios_V-solicitud">   <!-- Ventana de formulario 2: Solicitud -->			  
			    <!-- Separador 2 -->
		        <ul class="nav nav-tabs" style="border-color:white"> </ul>								
                  <!-- .................................................... ¬  Form 2 - Solicitud -->
                  @using (Html.BeginForm("RegistrarSolicitud", "Consumibles", FormMethod.Post, new { @class = "form-horizontal", id = "FORM-solicitud" }))  
                  {			  		
                  <!-- Icono de encabezado -->
				  <div class="form-group">
				    <h1 class="col-sm-3 control-label"><span class="glyphicon glyphicon-file" ></span></h1>					
					<h3 class="col-sm-9 control-label"><strong> Registrar solicitud de consumibles </strong></h3>
				  </div>
				  <div class="form-group">
                    <label for="FORM-solicitud_TB-para"  class="col-sm-3 control-label" > Para </label>
                    <div class="col-sm-9   has-success">					  					  
					  <div class="input-group">
                        <div class="input-group-addon">
						  <span class="glyphicon glyphicon-user"></span>
						</div>
                        <input type="text" name="destino" class="form-control" id="FORM-solicitud_TB-para" placeholder="" required>
                      </div>					  
                    </div>
                  </div> <!--  -->
				  <div class="form-group">
                    <label for="FORM-solicitud_TB-asunto" class="col-sm-3 control-label"> Descripcion del pedido </label>
                    <div class="col-sm-9   has-success">
				      <textarea name="descripcion" class="form-control" id="FORM-solicitud_TB-asunto" rows="3" placeholder="" required></textarea>
                    </div>
                  </div> <!--  -->
				  <br/>
				  <!-- Boton: Agregar detalles. Los botones no tienen ID -->
				  <div class="form-group">
	  	 		    <div class="btn-group col-sm-offset-3 col-sm-4"   data-toggle="buttons">					
					  <button class="btn btn-success btn-block" type="button" style="border-color:white"
	                   data-toggle="collapse" 
	                   data-target="#FORM-solicitud_V-detalles" 
	                   aria-expanded="false" 
	                   aria-controls="FORM-solicitud_V-detalles"
	                  > Agregar detalles
						<span class="caret"></span>
                      </button>
					</div>
				  </div>
				  <!-- DETALLES -->
				  <div class="collapse" id="FORM-solicitud_V-detalles">  <!-- :::::: :::::: Ventana colapsable: Detalles -->
                      <br/>
				    <div class="form-group">
                      <label for="FORM-solicitud_V-detalles_RB-fechaRecien" class="col-sm-3 control-label">Fecha y hora del envio fisico del documento</label>					    
				      <div class="btn-group-vertical col-sm-5"   data-toggle="buttons">
                        <label class="btn btn-success">
                          <input type="radio" name="envio" id="FORM-solicitud_V-detalles_RB-fechaRecien" value="1">
						    <span class="glyphicon glyphicon-flash"></span>
						    Lo acabo de enviar
                        </label>					  
					    <label class="btn btn-success">
                          <input type="radio" name="envio" id="FORM-solicitud_V-detalles_RB-fechaDespues" value="0">
						    <span class="glyphicon glyphicon-remove" ></span>
						    Indicar despues...
                        </label>
					    <label class="btn btn-success"
					     data-toggle="collapse"
                         data-target="#FORM-solicitud_V-detalles_V-fechaEspecifica" 
		                 aria-expanded="false"
    		             aria-controls="FORM-solicitud_V-detalles_V-fechaEspecifica"		  
					    >
                          <input type="radio" name="envio" id="FORM-solicitud_V-detalles_RB-fechaEspecifica" value="2" checked>
						    <span class="glyphicon glyphicon-ok" ></span>
						    Especificar fecha y hora
						    <span class="caret" ></span>
                        </label>
					  </div>
			        </div> <!--  -->
			        <!-- Ventana colapsable para Fecha y hora -->				   
				    <div class="collapse" id="FORM-solicitud_V-detalles_V-fechaEspecifica">                                              
                      <div class="form-group">
                        <label for="FORM-solicitud_V-detalles_V-fechaEspecifica_TB-dia" class="col-sm-3 control-label"> Fecha </label>
                          <div class="col-sm-5   has-success">					  
                          @Html.TextBox("fechaEnvio", @DateTime.Now.Year+"-"+DateTime.Now.Month.ToString().PadLeft(2,'0')+"-"+DateTime.Now.Day.ToString().PadLeft(2,'0'), new { type = "date", @class = "form-control" })                          
                        </div>
					  </div>
				      
					  <div class="form-group">
					    <label for="FORM-solicitud_V-detalles_V-fechaEspecifica_TB-hora" class="col-sm-3 control-label"> Hora </label>
                        <div class="col-sm-3   has-success">					  
					      <div class="input-group">
					        <div class="input-group-addon">
					          <span class="glyphicon glyphicon-time"></span>
					        </div>
                              @Html.TextBox("horaEnvio", DateTime.Now.Hour.ToString().PadLeft(2, '0') + ":" + DateTime.Now.Minute.ToString().PadLeft(2, '0'),
                                     new {@class="form-control", type="time", id="FORM-solicitud_V-detalles_V-fechaEspecifica_TB-hora" })                            
                          </div>
                        </div>
					  </div>
					  
					  <div class="form-group">
					    <div class="checkbox col-sm-offset-3 col-sm-5" >
                          <label >
                            <input  type="checkbox" name="crearFolio" id="crearFolio"  >
							Crear folio del documento con estos datos
                          </label>
                        </div>
					  </div>
				    </div> <!-- Colapsable -->
				    <br/>
				    <div class="form-group">
                      <label for="FORM-solicitud_V-detalles_TB-folio" class="col-sm-3 control-label">Folio</label>					
				      <div class="col-sm-5 has-success"   data-toggle="buttons">
                        <input type="text" class="form-control" id="FORM-solicitud_V-detalles_TB-folio" placeholder="">
					  </div>					
                    </div> <!--  -->
				    <br/>
				    <br/>
				    <!-- Boton: Examinar -->
				    <div class="form-group">
                      <label class="col-sm-3 control-label"> <!-- "control-label" ajusta el texto a la derecha -->
					    Adjuntar copia digital o foto del documento
					  </label>					  
					  <div class="col-sm-9">   <!-- El estilo "Success" No funciona, el diseño es predeterminado -->
					    <h3><span class="glyphicon glyphicon-paperclip" ></span></h3>
                        <input type="file" id="FORM-solicitud_V-detalles_BTN-adjunto">
					  </div>
				    </div>
				  </div>  <!-- :::::: :::::: Fin Colapsable: Detalles -->
				  <br/>					
				  <!-- Boton: Listo! -->
                  <div class="form-group   has-success">
                    <div class="col-sm-offset-3 col-sm-4">
                      <button type="submit" data-ajax="true" class="btn  btn-success  btn-lg  btn-block" style="border-color:white">
					    <span class="glyphicon glyphicon-ok"></span>
						<strong> Listo! </strong>
					  </button>
                    </div>
                    <div class=" col-sm-4">
                      <button type="reset" class="btn  btn-success  btn-lg  btn-block" style="border-color:white">
					    <span class="glyphicon glyphicon-remove"></span>
						<strong> Limpiar </strong>
					  </button>
                    </div>
                  </div> <!--  -->
                } <!-- ................................................................. ^  Form 2 -->
              </div> <!-- Fin de Ventana de Formulario 2 -->
			</div> <!-- Panel default, necesario para evitar abrir + de 1 formulario -->
	      </div> <!-- Grupo de paneles: Grupo de Ventanas Formularios  -->
        </div> <!-- Well -->
      </div> <!-- :::::::::::::::::::::::::::::::::::::::::::::::::::::::: Fin ventana_registrar colapsable -->

<div id="form-tipo" class="modal fade ">
   <div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <h4>Registro de nuevo tipo de consumible</h4>
        </div>       
          <div class="modal-body">
            @using(Html.BeginForm("RegistrarTipoConsumible","consumibles",FormMethod.Post))
            {
              <div class="form-group">                  
                      <label for="nuevoTipo" class="control-label">Nombre del tipo de consumible</label>
                      <input type="text" class="form-control" id="nuevoTipo" name="nuevoTipo" required />                          
              </div>     
                <hr />
              <div class ="form-group">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                <button data-ajax="true"  type="submit" class="btn btn-primary">Registrar</button>          
              </div>
            }
          </div>               
    </div>
   </div>
</div>


<script>

    function actualizarTipos() {
        $.ajax("/consumibles/ObtenerTipos", {
            async: true,
            type: "post",
            beforeSend: function () { $.notify("Actualizando la lista de tipos de consumibles", "info"); },
            success: function (respuesta) {
                if (respuesta.response == true) {
                    $("#contenedorListaTipos").html(respuesta.mensaje);
                    $("#nuevoTipo").val('');
                }
                else {
                    alert("Error al actualizar los tipos de consumibles, presione F5");
                }
            },
            error: function (a) {
                alert("Error inesperado: No se ha logrado actualizar la lista de tipos de consumibles, presione F5. " + a);
            }
        });

    }

</script>